<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.dc.staff.mapper.StaffMapper">


    <select id="findByCondition" resultType="com.forge.dc.staff.entity.Staff">
        select * from staff
        <where>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by id desc
    </select>
</mapper>