<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.dc.note.mapper.NoteMapper">

    <insert id="addNote" parameterType="com.forge.dc.note.entity.NoteEntity">
        insert into note (
        content,
        created_at,
        updated_at
        )
        values (
        #{content},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <update id="updateNote">
        update note
        set content = #{content},
        updated_at = #{updatedAt}
        where id = #{id}
    </update>

    <select id="getNoteList" resultType="com.forge.dc.note.entity.NoteEntity">
        select
        id,
        content,
        created_at,
        updated_at
        from note
        order by id desc
    </select>

    <select id="getNoteById" resultType="com.forge.dc.note.entity.NoteEntity">
        select
        id,
        content,
        created_at,
        updated_at
        from note
        where id = #{id}
    </select>

    <select id="countNotes" resultType="java.lang.Long">
        select count(*) from note
        <where>
            <if test="content != null and content != ''">
                content like concat('%', #{content}, '%')
            </if>
        </where>
    </select>

    <select id="getNoteListByPage" resultType="com.forge.dc.note.entity.NoteEntity">
        select
        id,
        content,
        created_at,
        updated_at
        from note
        <where>
            <if test="content != null and content != ''">
                content like concat('%', #{content}, '%')
            </if>
        </where>
        order by id desc
        limit #{offset}, #{pageSize}
    </select>

</mapper>