<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.dc.modules.Interface.mapper.InterfacePermissionMapper">

    <select id="findInterfacePageByCondition"
            resultType="com.forge.dc.modules.Interface.entity.InterfacePermission">
        select * from interface_permission
        <where>
            <if test="name != null and name != ''">
                and description like CONCAT('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
        order by id desc
    </select>
</mapper>